{% extends "base.html" %}
{% import "_form_helpers.html" as helpers %}

{% block content %}
<div class="content-card">
    <h1>Contact Me</h1>
    <p>Please fill out the form below.</p>

    <hr style="color: #555;">

    <form action="{{ url_for('contacts') }}" method="POST" novalidate>

        {{ form.hidden_tag() }}

        {{ helpers.render_form_group(form.name) }}
        {{ helpers.render_form_group(form.email) }}
        {{ helpers.render_form_group(form.phone) }}
        {{ helpers.render_form_group(form.subject) }}
        {{ helpers.render_form_group(form.message) }}

        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}