{% extends 'base.html' %}



{% block content %}
<div class="content-card">
    <h1>Contact Me</h1>
    <p>You can reach me via this form.</p>

    <hr style="color: #555;">

    <form>
        <div class="mb-3">
            <label for="emailInput" class="form-label">Your Email</label>
            <input type="email" class="form-control" id="emailInput" placeholder="your@email.com">
        </div>
        <div class="mb-3">
            <label for="messageText" class="form-label">Message</label>
            <textarea class="form-control" id="messageText" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send Message</button>
    </form>
</div>
{% endblock %}